<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h1>Cards</h1>
        </div>
        <div class="col-sm-4" style="padding:20px">
            <input type="text" class="form-control" placeholder="Filter Cards" ng-model="cardFilter">
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <p ng-if="!cresults.length">{{cardFilter?'No cards found matching the filter':'No cards to show.'}}</p>
            <ul ng-if="cresults.length" class="list-unstyled" ng-repeat="card in cards | filter: {$: cardFilter, account: account} as cresults">
                <li class="nlist">
                    <div class="row">
                        <div class="col-xs-6 col-md-8" ng-click="editCard(card)">
                            <h4 style="padding-left:7px"><span class="glyphicon glyphicon-credit-card"></span> {{card.title}}</h4>
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <h4>
                                <a class="col-xs-4" ng-click="editCard(card)" title="Edit" data-toggle="tooltip"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a class="col-xs-4" ng-click="pinIt(card, 2)" title="{{card.pinned?'Unpin it':'Pin it'}}" data-toggle="tooltip"><span class="glyphicon glyphicon-map-marker" ng-class="{'t-warn': card.pinned}"></span></a>
                                <a class="col-xs-4" ng-click="delIt($index, 2)" title="Delete" data-toggle="tooltip"><span class="glyphicon glyphicon-trash"></span></a>
                            </h4>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>