<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1" aria-expanded="false">
                   <span class="sr-only">Toggle navigation</span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
            </button>
            <strong class="navbar-brand">
                myVault 
                <i ng-class="{'glyphicon glyphicon-home': !loading, 'fa fa-circle-o-notch fa-spin fa-fw':loading}"></i>
            </strong>
        </div>
        <div id="navbar1" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{active: account}">
                    <a title="Switch to Personal Account" data-toggle="tooltip" ng-click="setActiveAcc(true)">Personal</a>
                </li>
                <li ng-class="{active: !account}">
                    <a title="Switch to Work Account" data-toggle="tooltip" ng-click="setActiveAcc(false)">Work</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <button class="btn btn-link navbar-btn" ng-click="addNote()"><span class="glyphicon glyphicon-plus"></span> Note</button>
                </li>
                <li class="active">
                    <button class="btn btn-link navbar-btn" ng-click="addPword()"><span class="glyphicon glyphicon-plus"></span> Password</button>
                </li>
                <li>
                    <button class="btn btn-link navbar-btn" ng-click="addCard()"><span class="glyphicon glyphicon-plus"></span> Card</button>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button class="btn btn-link navbar-btn" ng-click="signOut()">Sign Out <span class="glyphicon glyphicon-log-out"></span></button>
                </li>
            </ul>
        </div>
    </div>
</nav>