<div class="container" ng-controller="LoginController">
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <img class="img-responsive homeImg" src="../images/home_locker.jpg" alt="Login Screen">
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="login-pad">
            </div>
            <h2 class="al-center t-cblue">
                myVault
            </h2>
            <form class="form">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Username" aria-placeholder="Username" ng-model="user.username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" placeholder="Password" aria-placeholder="Password" ng-model="user.password">
                </div>
                <div class="form-group" ng-if="!login">
                    <input class="form-control" type="password" placeholder="Confirm Password" aria-placeholder="Confirm Password">
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <p class="t-white" ng-if="login">New User?</p>
                        <p class="t-white" ng-if="!login">Already Registered?</p>
                        <button class="btn btn-link" ng-if="login" ng-click="setLogin(false)">Register</button>
                        <button class="btn btn-link" ng-if="!login" ng-click="setLogin(true)">Sign In</button>
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-primary" type="button" ng-if="login" ng-click="signIn()">Sign In</button>
                        <button class="btn btn-primary" type="button" ng-if="!login" ng-click="signUp()">Sign Up</button>
                    </div>
                </div>
            </form>
            <br>
            <br>
            <br>
            <div class="alert alert-success alert-dismissible" role="alert" ng-if="regSuccess">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>                <strong>Registered Successfully!</strong> Sign In to continue.
            </div>
            <div class="alert alert-warning alert-dismissible" role="alert" ng-if="regFail">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>              <strong>Registeration Failed!</strong> :( Sorry please try again!
            </div>
            <div class="alert alert-danger alert-dismissible" role="alert" ng-if="loginFail">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>                <strong>Sign In Failed!</strong> Please check your username or password.
            </div>
        </div>
    </div>
</div>