<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="head-c">Notes</h1>
        </div>
        <div class="col-sm-4" style="padding:20px">
            <input type="text" class="form-control" placeholder="Filter Notes" ng-model="noteFilter">
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <p ng-if="!nresults.length">{{noteFilter?'No notes found matching the filter':'No notes to show.'}}</p>
            <ul ng-if="nresults.length" class="list-unstyled" ng-repeat="note in notes | filter: {$: noteFilter, account: account} as nresults">
                <li class="nlist">
                    <div class="row">
                        <div class="col-xs-6 col-md-8" ng-click="editNote(note)">
                            <h4 style="padding-left:7px"><span class="glyphicon glyphicon-file"></span>{{note.title}}</h4>
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <h4>
                                <a class="col-xs-4" ng-click="editNote(note)" title="Edit" data-toggle="tooltip"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a class="col-xs-4" ng-click="pinIt(note, 0)" title="{{note.pinned?'Unpin it':'Pin it'}}" data-toggle="tooltip"><span class="glyphicon glyphicon-map-marker" ng-class="{'t-warn': note.pinned}"></span></a>
                                <a class="col-xs-4" ng-click="delIt($index, 0)" title="Delete" data-toggle="tooltip"><span class="glyphicon glyphicon-trash"></span> </a>
                            </h4>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>