<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h1>Notes</h1>
        </div>
        <div class="col-sm-3 col-sm-offset-1" style="padding:2%">
            <div class="btn-group pull-right" role="group" data-toggle="buttons">
                <label class="btn btn-danger" ng-class="{active: account}" ng-click="setActiveAcc(true)"><input type="radio">Personal</label>
                <label class="btn btn-danger" ng-class="{active: !account}" ng-click="setActiveAcc(false)"><input type="radio">Work</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p ng-if="!results.length">No notes to show.</p>
            <ul ng-if="results.length" class="list-unstyled" ng-repeat="note in notes | filter: {account: account} as results">
                <li class="nlist">
                    <div class="row">
                        <div class="col-xs-6 col-md-8" ng-click="editNote(note)">
                            <h4 style="padding-left:7px"><span class="glyphicon glyphicon-file"></span>{{note.title}}</h4>
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <h4>
                                <a class="col-sm-4" ng-click="editNote(note)"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a class="col-sm-4" ng-click="pinIt(note)"><span class="glyphicon glyphicon-map-marker" ng-class="{'t-warn': note.pinned}"></span></a>
                                <a class="col-sm-4" ng-click="delIt($index)"><span class="glyphicon glyphicon-trash"></span> </a>
                            </h4>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>