<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="head-c">Passwords</h1>
        </div>
        <div class="col-sm-4" style="padding:20px">
            <input type="text" class="form-control" placeholder="Filter Passwords" ng-model="pwordFilter">
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <p ng-if="!presults.length">{{pwordFilter?'No passwords found matching the filter':'No passwords to show.'}}</p>
            <ul ng-if="presults.length" class="list-unstyled" ng-repeat="pword in pwords | filter: {$: pwordFilter, account: account} as presults">
                <li class="nlist">
                    <div class="row">
                        <div class="col-xs-6 col-md-8" ng-click="editPword(pword)">
                            <h4 style="padding-left:7px"><span class="glyphicon glyphicon-lock"></span> {{pword.title}}</h4>
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <h4>
                                <a class="col-xs-4" ng-click="editPword(pword)" title="Edit" data-toggle="tooltip"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a class="col-xs-4" ng-click="pinIt(pword, 1)" title="{{pword.pinned?'Unpin it':'Pin it'}}" data-toggle="tooltip"><span class="glyphicon glyphicon-map-marker" ng-class="{'t-warn': pword.pinned}"></span></a>
                                <a class="col-xs-4" ng-click="delIt($index, 1)" title="Delete" data-toggle="tooltip"><span class="glyphicon glyphicon-trash"></span></a>
                            </h4>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>