<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h1>Passwords</h1>
        </div>
        <div class="col-sm-3 col-sm-offset-1" style="padding:2%">
            <div class="btn-group pull-right" role="group" data-toggle="buttons">
                <label title="Switch to Personal Account" data-toggle="tooltip" class="btn btn-danger" ng-class="{active: account}" ng-click="setActiveAcc(true)"><input type="radio">Personal</label>
                <label title="Switch to Work Account" data-toggle="tooltip" class="btn btn-danger" ng-class="{active: !account}" ng-click="setActiveAcc(false)"><input type="radio">Work</label>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <p ng-if="!results.length">No passwords to show.</p>
            <ul ng-if="results.length" class="list-unstyled" ng-repeat="pword in pwords | filter: {account: account} as results">
                <li class="nlist">
                    <div class="row">
                        <div class="col-xs-6 col-md-8" ng-click="editPword(pword)">
                            <h4 style="padding-left:7px"><span class="glyphicon glyphicon-lock"></span> {{pword.title}}</h4>
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <h4>
                                <a class="col-xs-4" ng-click="editPword(pword)" title="Edit" data-toggle="tooltip"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a class="col-xs-4" ng-click="pinIt(pword, 1)" title="{{pword.pinned?'Unpin it':'Pin it'}}" data-toggle="tooltip"><span class="glyphicon glyphicon-map-marker" ng-class="{'t-warn': pword.pinned}"></span></a>
                                <a class="col-xs-4" ng-click="delIt($index, 1)" title="Delete" data-toggle="tooltip"><span class="glyphicon glyphicon-trash"></span></a>
                            </h4>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>