<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h1>Pinned</h1>
        </div>
        <div class="col-sm-4" style="padding:20px">
            <input type="text" class="form-control" placeholder="Filter Pinned Notes, Passwords, Cards" ng-model="pinnedFilter">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" ng-init="sortByAlpha = true">
            <h2>Notes</h2>
            <p>Order By: <button class="btn btn-info btn-sm" ng-click="sortByAlpha=!sortByAlpha"> <span class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': sortByAlpha, 'glyphicon-sort-by-alphabet-alt': !sortByAlpha}"></span> </button> </p>
            <p ng-if="!nresults.length">{{pinnedFilter?'No notes found matching the filter':'No pinned notes to show.'}}</p>
            <ul ng-if="nresults.length" class="list-unstyled" ng-repeat="note in notes | orderBy:'title':sortByAlpha | filter: {$: pinnedFilter, pinned: true, account: account} as nresults">
                <li class="nlist">
                    <div class="row">
                        <div class="col-xs-6 col-md-8" ng-click="editNote(note)">
                            <h4 style="padding-left:7px"><span class="glyphicon glyphicon-file"></span> {{note.title}}</h4>
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <h4>
                                <a class="col-xs-4" ng-click="editNote(note)" title="Edit" data-toggle="tooltip"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a class="col-xs-4" ng-click="pinIt(note, 0)" title="{{note.pinned?'Unpin it':'Pin it'}}" data-toggle="tooltip"><span class="glyphicon glyphicon-map-marker" ng-class="{'t-warn': note.pinned}"></span></a>
                                <a class="col-xs-4" ng-click="delIt($index, 0)" title="Delete" data-toggle="tooltip"><span class="glyphicon glyphicon-trash"></span> </a>
                            </h4>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2>Passwords</h2>
            <p ng-if="!presults.length">{{pinnedFilter?'No passwords found matching the filter':'No pinned passwords to show.'}}</p>
            <ul ng-if="presults.length" class="list-unstyled" ng-repeat="pword in pwords | filter: {$:pinnedFilter, pinned: true, account: account} as presults">
                <li class="nlist">
                    <div class="row">
                        <div class="col-xs-6 col-md-8" ng-click="editPword(pword)">
                            <h4 style="padding-left:7px"><span class="glyphicon glyphicon-lock"></span> {{pword.title}}</h4>
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <h4>
                                <a class="col-xs-4" ng-click="editPword(pword)" title="Edit" data-toggle="tooltip"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a class="col-xs-4" ng-click="pinIt(pword, 1)" title="{{pword.pinned?'Unpin it':'Pin it'}}" data-toggle="tooltip"><span class="glyphicon glyphicon-map-marker" ng-class="{'t-warn': pword.pinned}"></span></a>
                                <a class="col-xs-4" ng-click="delIt($index, 1)" title="Delete" data-toggle="tooltip"><span class="glyphicon glyphicon-trash"></span></a>
                            </h4>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2>Cards</h2>
            <p ng-if="!cresults.length">{{pinnedFilter?'No cards found matching the filter':'No pinned cards to show.'}}</p>
            <ul ng-if="cresults.length" class="list-unstyled" ng-repeat="card in cards | filter: {$: pinnedFilter, pinned: true, account: account} as cresults">
                <li class="nlist">
                    <div class="row">
                        <div class="col-xs-6 col-md-8" ng-click="editCard(card)">
                            <h4 style="padding-left:7px"><span class="glyphicon glyphicon-credit-card"></span> {{card.title}}</h4>
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <h4>
                                <a class="col-xs-4" ng-click="editCard(card)" title="Edit" data-toggle="tooltip"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a class="col-xs-4" ng-click="pinIt(card, 2)" title="{{card.pinned?'Unpin it':'Pin it'}}" data-toggle="tooltip"><span class="glyphicon glyphicon-map-marker" ng-class="{'t-warn': card.pinned}"></span></a>
                                <a class="col-xs-4" ng-click="delIt($index, 2)" title="Delete" data-toggle="tooltip"><span class="glyphicon glyphicon-trash"></span></a>
                            </h4>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>