<div class="pinned" ui-sref="app.pinned" ng-class="{activeSide: isActive('/pinned')}" title="Show Pinned" data-toggle="tooltip" data-placement="top">
    <img class="img-responsive" src="../images/pin.svg" id="pin_img">
</div>
<div class="notes" ui-sref="app.notes" ng-class="{activeSide: isActive('/notes')}" title="Show Notes" data-toggle="tooltip" data-placement="bottom">
    <img class="img-responsive" src="../images/note.svg" id="note_img">
</div>
<div class="passwords" ui-sref="app.passwords" ng-class="{activeSide: isActive('/passwords')}" title="Show Passwords" data-toggle="tooltip" data-placement="top">
    <img class="img-responsive" src="../images/lock.svg" id="lock_img">
</div>
<div class="cards" ui-sref="app.cards" ng-class="{activeSide: isActive('/cards')}" title="Show Cards" data-toggle="tooltip" data-placement="right">
    <img class="img-responsive" src="../images/card.svg" id="card_img">
</div>