<div class="pinned" ui-sref="pinned" ng-class="{activeSide: isActive('/pinned')}">
    <img class="img-responsive" src="../images/pin.svg" id="pin_img">
    <!--<label for="pin_img">Pinned</label>-->
</div>
<div class="notes" ui-sref="notes" ng-class="{activeSide: isActive('/notes')}">
    <img class="img-responsive" src="../images/note.svg" id="note_img">
    <!--<label for="note_img">Notes</label>-->
</div>
<div class="passwords" ui-sref="passwords" ng-class="{activeSide: isActive('/passwords')}">
    <img class="img-responsive" src="../images/lock.svg" id="lock_img">
    <!--<label for="lock_img">Passwords</label>-->
</div>
<div class="cards" ui-sref="cards" ng-class="{activeSide: isActive('/cards')}">
    <img class="img-responsive" src="../images/card.svg" id="card_img">
    <!--<label for="card_img">Cards</label>-->
</div>