<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Card
        <div class="btn-group pull-right" role="group" data-toggle="buttons">
            <label class="btn btn-danger btn-sm" ng-class="{active: $ctrl.object.account}" ng-click="$ctrl.setAccount(true)">Personal</label>
            <label class="btn btn-danger btn-sm" ng-class="{active: !$ctrl.object.account}" ng-click="$ctrl.setAccount(false)">Work</label>
        </div>
    </h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="form-group row">
        <div class="col-sm-10">
            <div class="input-group input-group-sm">
                <span class="input-group-addon primary">Title</span>
                <input class="form-control" type="text" placeholder="Title" ng-model="$ctrl.object.title">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="btn-group pull-right" data-toggle="buttons">
                <label class="btn btn-primary btn-sm" ng-class="{active: $ctrl.object.pinned}" ng-model="$ctrl.object.pinned" uib-btn-checkbox> 
                    {{$ctrl.object.pinned?'Pinned ':'Pin '}}
                    <span class="glyphicon glyphicon-map-marker" ng-class="{'t-warn': $ctrl.object.pinned}"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group input-group-sm">
            <span class="input-group-addon primary">Card Number</span>
            <input class="form-control" type="number" placeholder="XXXX" ng-model="$ctrl.object.cardNo[0]" maxlength="4" min="0000" max="9999">
            <span class="input-group-addon info">-</span>
            <input class="form-control" type="number" placeholder="XXXX" ng-model="$ctrl.object.cardNo[1]" maxlength="4" min="0000" max="9999">
            <span class="input-group-addon info">-</span>
            <input class="form-control" type="number" placeholder="XXXX" ng-model="$ctrl.object.cardNo[2]" maxlength="4" min="0000" max="9999">
            <span class="input-group-addon info">-</span>
            <input class="form-control" type="number" placeholder="XXXX" ng-model="$ctrl.object.cardNo[3]" maxlength="4" min="0000" max="9999">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group input-group-sm">
            <span class="input-group-addon primary">Expiration</span>
            <span class="input-group-addon info">Month</span>
            <input id="expMonth" name="expMonth" class="form-control" placeholder="MM" type="number" ng-model="$ctrl.object.expMonth">
            <span class="input-group-addon info">Year</span>
            <input id="expYear" name="expYear" class="form-control" placeholder="YYYY" type="number" min="17" ng-model="$ctrl.object.expYear"
                maxlength="4">
            <span class="input-group-addon primary">CVV/CVV2</span>
            <input id="cvv" name="cvv" class="form-control" placeholder="XXX" type="number" min="000" ng-model="$ctrl.object.cvv" maxlength="3">
        </div>
    </div>
    <ul ng-if="$ctrl.object.hasCustom" class="list-unstyled">
        <li ng-repeat="field in $ctrl.object.customFields">
            <hr/>
            <div class="form-group">
                <button class="btn btn-link pull-right" ng-click="$ctrl.delField($index)"><span class="glyphicon glyphicon-trash" ></span></button>
                <div class="input-group input-group-sm">
                    <span class="input-group-addon primary">Field&nbsp</span>
                    <input class="form-control" type="text" placeholder="Field Name" ng-model="field.key">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon primary">Value</span>
                    <input class="form-control" type="{{$ctrl.fieldShow[$index]?'text':'password'}}" placeholder="Field Value" ng-model="field.value">
                    <div class="input-group-btn" data-toggle="buttons">
                        <label class="btn btn-primary" ng-model="$ctrl.fieldShow[$index]" uib-btn-checkbox><span class="glyphicon" ng-class="{'glyphicon-eye-open': !$ctrl.fieldShow[$index],'glyphicon-eye-close': $ctrl.fieldShow[$index]}"></span></label>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm pull-left" ng-click="$ctrl.addField()">Add Field</button>
    <button class="btn btn-success btn-sm" ng-click="$ctrl.save()">Save</button>
    <button class="btn btn-default btn-sm" ng-click="$ctrl.close()">Cancel</button>
</div>