<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Note
        <div class="btn-group pull-right" role="group" data-toggle="buttons">
            <label class="btn btn-danger btn-sm" ng-class="{active: $ctrl.object.account}" ng-click="$ctrl.setAccount(true)">Personal</label>
            <label class="btn btn-danger btn-sm" ng-class="{active: !$ctrl.object.account}" ng-click="$ctrl.setAccount(false)">Work</label>
        </div>
    </h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="form-group row">
        <div class="col-sm-10">
            <div class="input-group input-group-sm">
                <span class="input-group-addon primary">Title</span>
                <input class="form-control" type="text" placeholder="Title" ng-model="$ctrl.object.title">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="btn-group pull-right" data-toggle="buttons">
                <label class="btn btn-primary btn-sm" ng-class="{active: $ctrl.object.pinned}" ng-model="$ctrl.object.pinned" uib-btn-checkbox> {{$ctrl.object.pinned?'Pinned ':'Pin '}}<span class="glyphicon glyphicon-map-marker" ng-class="{'t-warn': $ctrl.object.pinned}"></span></label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <textarea class="form-control input-sm" placeholder="Note" ng-model="$ctrl.object.note" 
        rows="{{$ctrl.object.note?($ctrl.object.note.length/65):'6'}}"></textarea>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success btn-sm" ng-click="$ctrl.save()">Save</button>
    <button class="btn btn-default btn-sm" ng-click="$ctrl.close()">Cancel</button>
</div>