.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
.homeImg {
    height: 70%;
    width: auto;
    max-height: 600px;
    align-content: left;
    min-width: 50%;
}
.t-white {
  color: white;
}
.t-cblue {
  color: #0099F2;
}
.t-warn {
  color: #FC9F00;
}
.bg-color {
  background-color:#222222;
}
.b-rad-top {
  border: 5px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-color: darkgrey;
}
.b-rad-bottom {
  border: 5px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-color: #2F343A;
}
.bg-silver {
  background-color: #DDDDDD;
}
.bg-crimson {
  background-color: #2F343A;
}
.input-group-addon.primary {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}
.input-group-addon.success {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}
.input-group-addon.info {
    color: rgb(255, 255, 255);
    background-color: rgb(65, 158, 234);
    border-color: rgb(45, 100, 144);
}
.input-group-addon.ns {
    color: rgb(255, 255, 255);
    background-color:#2F343A;
    border-color: #2F343D;
}
.v-center {
  top: 50%;
}
.al-center {
  align-content: center;
  text-align: center;
}
.al-left {
  text-align: left;
}
.al-right {
  text-align: right;
}
.pad33 {
  padding: 27%;
}
.left { 
position: fixed; height: auto; width: 10%; left: 0; right: 10%; top: 0; bottom: 0;
}
.right {
position: absolute; height: auto; width: 90%; left: 10%; right: 90%; top: 0; bottom: 0;
}
.topp { 
position: absolute; height: 40px; width: auto; left: 0; right: 0; top: 0; bottom: auto;
}
.main {
position: absolute; height: auto; width: auto; left: 40px; right: 0; top: 60px; bottom: 0;
}
.pinned {
position: relative;
width: 100%;
height: auto;
left: 0; right: 100%; top: 12%; bottom: 0;
text-align: center;
padding: 20%;
padding-left: 25%;
border: 1px solid;
border-left: none;
border-color: whitesmoke;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
} 
.notes {
position: relative;
width: 100%;
height: auto;
text-align: center;
padding: 20%;
padding-left: 25%;
border: 1px solid;
border-left: none;
border-color: whitesmoke;
left: 0; right: 100%; top: 18%; bottom: 0;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}
.passwords {
position: relative;
width: 100%;
padding: 20%;
padding-left: 25%;
text-align: center;
height: auto;
left: 0; right: 100%; top: 24%; bottom: 0;
border: 1px solid;
border-left: none;
border-color: whitesmoke;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}
.cards {
position: relative;
width: 100%;
padding: 20%;
padding-left: 25%;
height: auto;
text-align: center;
left: 0; right: 100%; top: 30%; bottom: 0;
border: 1px solid;
border-left: none;
border-color: whitesmoke;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}
.activeSide {
  background-color: #0099F2;
  border-color: #0099F2;
}
.nlist {
  font-size: 2%;
  border: 1px solid #0099F2;
  border-radius: 5pt;
}