<!DOCTYPE html>
<html lang="en" ng-app="myVault">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>myVault - Your Personal Vault</title>

        <link href="stylesheets/m.css" rel="stylesheet">
        <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body class="bkgrndColor">
        <div class="container">
            <div class="col-xs-12 col-sm-8">
                <img class="imgleft" src="./images/home_locker.jpg" alt="Login Screen">
            </div>
            <div class="col-xs-12 col-sm-4">
                <!--LoginForm Here!-->
                <h2>
                    myVault
                </h2>
                <form class="form" ng-init="login=true">
                    <div class="form-group">
                        <input class="form-control" type="email" placeholder="Email" aria-placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" placeholder="Password" aria-placeholder="Password">
                    </div>
                    <div class="form-group" ng-if="!login">
                        <input class="form-control" type="password" placeholder="Confirm Password" aria-placeholder="Confirm Password">
                    </div>
                    <div class="form-group">
                        <div>
                            <p ng-if="login">New User?</p>
                            <p ng-if="!login">Already Registered?</p>
                            <br>
                            <a ng-if="login" ng-click="setLoginFalse()">Register</a>
                            <a ng-if="!login" ng-click="setLoginTrue()">Sign In</a>
                        </div>
                        <div>
                            <button class="btn btn-primary" type="submit" ng-if="login">Sign In</button>
                            <button class="btn btn-primary" type="submit" ng-if="!login">Sign Up</button>
                        </div>
                    </div>
                </form>
            </div>  
        </div>
    </body>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers.js"></script>
    <script src="scripts/services.js"></script>

</html>